$button-color: #F1BD45;
$button-border: 3px;
$main-font: Arial, Helvetica,  sans-serif;
$borders: 1px solid #C7C7C7;
$auxiliary-font: Open Sans;

body {
    height: 100vh;
    padding: 0;
    margin: 0;
}

textarea:focus, input:focus{
    outline: none;
}

ul,
li {
    list-style: none;
  }

  a {
      text-decoration: none;
  }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

button {
    cursor: pointer;
    outline: none;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.main-block {
    display: flex;
    width: 1280px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.header {
    height: 100px;
    background-color: black;
    width: 1200px;
    display: flex;
    align-items: center; 
    margin: 0 auto;
}

.header-name {
    font-family: $main-font;
    color: white;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    margin-left: 24px;
}

.search-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 32px;
    position: relative;
    width: 1200px;
}

.search-input {
    width: 975.5px;
    height: 40px;
    border: $borders;
    padding-left: 57px;
}

.search-icon {
    position: absolute;
    left: 17px;
    top: 8px;
    border-right: $borders;
    width: 30px;
}

.fa-search, 
.fas {
    width: 5.67px;
}

.button-find {
    width: 145px;
    height: 40px;
    background-color: $button-color;
    border-radius: 0px 3px 3px 0px;
    border: none;
    margin-right: 11px;
    font-family: $main-font;
    font-size: 14px;
    font-weight: 700;
    &:hover {
        color:white;
        border: 1px solid #d8ad49;
        text-shadow: 0 0 2em rgba(255,255,255,1);
    }
    &:focus {
        outline: none;
    }
}

.button-close {
    width: 117px;
    height: 40px;
    border-radius: $button-border;
    border: none;
    font-family: $main-font;
    font-size: 14px;
    font-weight: 700;
    &:hover {
        color: $button-color;
        border: 1px solid $button-color;
        text-shadow: 0 0 2em rgba(255,255,255,1);
    }
    &:focus {
        outline: none;
    }
}

.results-of-request {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-results {
    font-family: $main-font;
    font-size: 28px;
}

.product-info {
    display: flex;
    width: 1200px;
    margin-top: 31px;
    flex-direction: column;
    box-sizing: border-box;
}

.show-results {
    margin-left: 19px;
    font-family: $auxiliary-font;
    font-size: 14px;
    color: #8B8B8B;
    padding-top: 7px;
}

.item-img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.product-categories {
    display: flex;
    flex-direction: row;
    margin-top: 18px;
    width: 105%;
    position: relative;
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: -15px;
        bottom: 0;
        width: 200px;
        background: linear-gradient(269.76deg, #FFFFFF 62.83%, rgba(255, 255, 255, 0) 145.7%);
    }
}

.item-info-wrapper {
    padding-right: 42px;
}

.category-item-info {
    display: flex;
    display: flex;
    align-items: center;
    border-right: $borders;
    cursor: pointer;
    margin-right: 20px;
    &:hover {
        color:$button-color;
    } 
    &:last-child  {
        position: relative;
        background: linear-gradient(white, transparent);
    }
}

.item-name {
    font-family: $auxiliary-font;
    font-size:14px;
    line-height: 19.7px;
}

.item-quantity {
    font-family: $auxiliary-font;
    font-size:12px;
    line-height: 16px;
    color: #8B8B8B;
}

.catalog {
    display: flex;
    flex-direction: row;
    margin-top: 39px;
}

.catalog-sidebar {
    display: flex;
    flex-direction: column;
    font-family: $main-font;
    width: 470px;
}

.links-sidebar {
    color: #5375B7;
}

.links-sidebar:hover {
    color: $button-color;
}

.all-categories {
    font-size: 14px;
    font-family: $main-font;
}

.input-price-form {
    height: 40px;
    width: 110px;
}

.item-sidebar,
.brand-item {
    margin:0 0 10px 0; 
}

.category-header {
font-weight: normal;
font-size: 14px;
margin:0 0 10px 0; 
font-family: $main-font;
}

.all-categories-list {
    padding: 0;
}

.price-header,
.brands-header {
    font-size: 14px;
    font-weight: bold;
}

.price-header {
    margin-bottom: 16px;
}

.price {
    margin-top: 22px;
}

.brands {
    display: flex;
    flex-direction: column;
    margin-top: 27px;
}

.brands-clear {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.clear a {
    font-size: 10px;
    border-bottom: 1px solid #333333;
    color: #333333;
}

.price-info {
    color:  #C4C4C4;
    font-size: 10px;
}

.checkbox-brands {
    display: flex;
    flex-direction: column;
}

.checkbox-brands label {
    margin-bottom: 3px;
}

.brands-header {
    margin-right: 188px;
}

#slider {
    margin-top: 13px;
}

.range-slider {
    height:4px!important;
    background-color:black!important;
    width: 290px!important;
}

.noUi-horizontal,
.noUi-handle {
    top: -4px!important;
}

.noUi-horizontal:focus,
.noUi-handle:focus,
.noUi-touch-area:focus {
    outline: none!important;
}

.noUi-connect {
    background: black!important;
    transform: none!important;
}

.noUi-handle {
    height: 10px!important;
    width: 10px!important;
    border-radius: 50%!important;
    background-color:black!important;
    box-shadow: none!important; 
    &::after,
    &::before  {
        content: none!important;
    }
}

.inner-sorter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $auxiliary-font;
    font-size: 14px;
    margin-bottom: 20px;
}

.catalog-sorter a {
    color: #5375B7;
    &:active,
    &:hover,
    &:focus {
        outline: none;
        border-bottom: 1px solid $button-color;
        color: #333333;
        text-decoration: none;
    }
}

.content-quantity {
    display: flex;
    flex-direction: row;
}

.sort {
    margin-right: 10px;
}

.catalog-sorter a {
    margin-right: 15px;
}

.catalog-content {
    width: 100%;
}

.show-quantity {
    margin-right: 10px;
}

.tags-group-list {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.tags-group-item {
    display: flex;
    background: #FFF3D8;
    width: 100px;
    height: 30px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: Roboto;
    font-size: 14px;
    color: #333333;
    box-sizing: border-box;
    font-weight: 400;
    &:active,
    &:hover  {
        border: 1px solid $button-color;
        text-decoration: none;
        color: #333333;
        }
}

.products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 110%;
}

.product-img {
    width: 260px;
    height: 260px;
    margin-bottom: 10px;
}

.product-button {
    background: $button-color;
    width: 260px;
    height: 40px;
    border: none;
    border-radius: 3px;
    font-family: $main-font;
    font-weight: 700;
    &:hover {
        color:white;
        border: 1px solid #d8ad49;
        text-shadow: 0 0 2em rgba(255,255,255,1);
    }
    &:focus {
        outline: none;
    }
}

.product-card-item {
    display: flex;
    margin-bottom: 40px;
    flex-direction: column;
    font-family: $main-font;
    margin-right: 45px;
}

.product-price {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.product-price-discount {
    margin-right: 16px;
    font-weight: bold;
    font-size: 16px;
}

.product-price-current {
    text-decoration: line-through;
    color: #A9A9A9;
}

.product-name {
    font-size: 14px;
    margin-bottom: 18px;
}

.pagination {
    display: flex;
    flex-direction: row;

}

.page-link {
    color: #000000;
    border: none;
    &:focus {
        box-shadow: 0 0 0 0.2rem #ffc1074f;
}
}